# Solicitar el .env por privado

# Frontend
VITE_API_URL=

# Backend
PORT=

# Base de datos
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

# MariaDB Docker
DB_ROOT_PASSWORD=

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=

# CORS (origin del frontend, ej: http://localhost:5173 o la IP de producción)
CORS_ORIGIN=

# Adminer
ADMINER_PORT=